<h1> Welcome to Garden Buddy </h1>
<p> This application was designed to help you plan for, establish, <br>
   maintain and harvest a beautiful and productive garden. Plants are listed by recommended <br>
   planting season or you can simply explore our Plant Catalogue to learn more about all of the plants currently on our list.<br>
