
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

body {
  font-family: "Kalam", Papyrus, fantasy, cursive;
  text-align: center;
  color: #7C2A30;
}

nav {
  padding: 15px;
  background-color: #D8AE48;
  border-radius: 40px 0 40px 0;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

.plant {
  display: inline-block;
  background-color: #D8AE48;
  width: 350px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 10px solid black;
  border-radius: 10%;
}

.plant img {
  height: 30px;
  width: 30px;
  border: solid black 5px;
}

.season {
  display: inline-block;
}

.season img {
  display: block;
}

img {
  border-radius: 40%;
  height: 300px;
}
