
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 3px;
  flex: 1 100%;
}

.header {
  background: green;
}

.footer {
  background: darkgreen;
}

.aside-1 {
  text-align: left;
  background: green;
  max-width: 150px;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}

html {
min-height: 740px;
}

header, footer,
nav, main, aside {
  /*border: 1px solid black;*/
  padding: 0.1em;
  /*margin: 0.1em;*/
  /*border-radius: 0.25em;*/
}

a {
  color: white;
  height: 15px;
}

header {
  font-family: "Kalam", Papyrus, fantasy, cursive;
  text-align: left;
  font-size: 50px;
  color: lightgreen;
  background-color: darkgreen;
  display: block;
  height: 70px;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: white;
}

nav {
  padding: 15px;
  background-color: darkgreen;
  color: white;
  height: 20px;
  text-align: left;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 22px;
}

.main {
  background-image: url(http://www.stineseed.com/hp/images/technology/twin20-2.jpg);
  background-size: cover;
  text-align: center;
  max-height: 450px;
  overflow: scroll;
  /*background: lightgreen;*/
}

.w3-container {
  padding: 1em;
  text-align: justify;
  margin: 3px;
  border: solid white 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

#plant_data {
  display: inline;
  margin: 0 1em 0 0;
}

.plant {
  display: inline-block;
  background-color: green;
  width: 300px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 3%;
}

.plant img {
  height: 100px;
  width: 100px;
  border: solid black 2px;
  border-radius: 3%;
}

.season {
  display: inline-block;
}

.season img {
  display: block;
}

img {
  border-radius: 40%;
  height: 125px;
  width: 125px;
  float: left;
  margin: 5px;
}
